#div_timer {
    -webkit-animation: detresse1 1000ms infinite;
}

@-webkit-keyframes detresse1 {
    0% {
        background-color: rgb(255, 00, 00);
        transform: scale(1.1);
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px 10px rgba(255, 255, 255, 0.3), 0 0 0 10px rgba(255, 255, 255, 0.3);
    }

    50% {
        background-color: rgb(105, 00, 00);
        transform: scale(1);
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0), 0 0 10px 10px rgba(255, 255, 255, 0), 0 0 0 10px rgba(255, 255, 255, 0);
    }

    100% {
        background-color: rgb(255, 00, 00);
        transform: scale(1.1);
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3), 0 0 10px 10px rgba(255, 255, 255, 0.3), 0 0 0 10px rgba(255, 255, 255, 0.3);
    }
}